.Haze{

    background-image: url('../../assets/Haze.jpg');
}

.Clouds{

    background-image: url('../../assets/Clouds.jpg');
}

.Clear{

    background-image: url('../../assets/Clear.jpg');
}

.Rain{

    background-image: url('../../assets/Rain.jpg');
}

.Thunderstorm{

    background-image: url('../../assets/Thunderstorm.jpg');
}

.Drizzle{

    background-image: url('../../assets/Drizzle.jpg');

}