<!-- <input type="text" [(ngModel)]="loc">
<button (click)="getWeather()">get weather</button> -->

<div class="container mt-5">
    <div class="col-1"></div>
    <div class="row">
    <div class="col-md-4 mb-5"><app-widget></app-widget></div>
    <div class="col-md-4 mb-5"><app-widget></app-widget></div>
    <div class="col-md-4 mb-5"><app-widget></app-widget></div>
    <div class="col-md-4 mb-5"><app-widget></app-widget></div>
    <div class="col-md-4 mb-5"><app-widget></app-widget></div>
    <div class="col-md-4 mb-5"><app-widget></app-widget></div>
    <div class="col-md-4 mb-5"><app-widget></app-widget></div>
    <div class="col-md-4 mb-5"><app-widget></app-widget></div>
    <div class="col-md-4 mb-5"><app-widget></app-widget></div>

    </div>
    <div class="col-1"></div>
</div>